In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you created and saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-08-01 23:56:45,-46.1927,168.8643,52.07,78,89,8.84
1,1,Hithadhoo,MV,2022-08-01 23:56:45,-0.6000,73.0833,80.51,71,99,13.76
2,2,Upernavik,GL,2022-08-01 23:56:45,72.7868,-56.1549,46.13,71,100,3.85
3,3,Laurel,US,2022-08-01 23:54:36,39.0993,-76.8483,85.60,73,75,3.44
4,4,Jamestown,US,2022-08-01 23:56:46,42.0970,-79.2353,75.72,57,40,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) 
for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2022-08-01 23:56:45,-0.6000,73.0833,80.51,71,99,13.76
3,3,Laurel,US,2022-08-01 23:54:36,39.0993,-76.8483,85.60,73,75,3.44
4,4,Jamestown,US,2022-08-01 23:56:46,42.0970,-79.2353,75.72,57,40,11.50
7,7,Pedernales,DO,2022-08-01 23:56:47,18.0384,-71.7440,83.77,72,16,0.58
8,8,Albany,US,2022-08-01 23:53:05,42.6001,-73.9662,79.88,61,76,4.79
9,9,Bandarbeyla,SO,2022-08-01 23:56:47,9.4942,50.8122,75.51,80,11,27.22
10,10,Cabo San Lucas,MX,2022-08-01 23:54:57,22.8909,-109.9124,87.19,67,99,9.80
15,15,Avarua,CK,2022-08-01 23:56:49,-21.2078,-159.7750,78.85,57,75,12.66
19,19,Dingle,PH,2022-08-01 23:56:50,10.9995,122.6711,80.13,82,100,2.62
30,30,Tangwani,PK,2022-08-01 23:56:53,28.2787,68.9972,87.71,73,0,7.85

In [27]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1        Hithadhoo      MV     80.51  -0.6000   73.0833
3           Laurel      US     85.60  39.0993  -76.8483
4        Jamestown      US     75.72  42.0970  -79.2353
7       Pedernales      DO     83.77  18.0384  -71.7440
8           Albany      US     79.88  42.6001  -73.9662
9      Bandarbeyla      SO     75.51   9.4942   50.8122
10  Cabo San Lucas      MX     87.19  22.8909 -109.9124
15          Avarua      CK     78.85 -21.2078 -159.7750
19          Dingle      PH     80.13  10.9995  122.6711
30        Tangwani      PK     87.71  28.2787   68.9972

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [46]:
# # Iterate through the DataFrame.
# for index, row in hotel_df.iterrows():
#     # Get the latitude and longitude.
#     lat = row["Lat"]
#     lng = row["Lng"]

#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
    
#     # Grab the first hotel from the results and store the name.
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,80.51,-0.6000,73.0833,Scoop Guest House
3,Laurel,US,85.60,39.0993,-76.8483,Days Inn & Suites by Wyndham Laurel Near Fort ...
4,Jamestown,US,75.72,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,Pedernales,DO,83.77,18.0384,-71.7440,Hotel Costa Marina
8,Albany,US,79.88,42.6001,-73.9662,

In [50]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,80.51,-0.6000,73.0833,Scoop Guest House
3,Laurel,US,85.60,39.0993,-76.8483,Days Inn & Suites by Wyndham Laurel Near Fort ...
4,Jamestown,US,75.72,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,Pedernales,DO,83.77,18.0384,-71.7440,Hotel Costa Marina
8,Albany,US,79.88,42.6001,-73.9662,
...,...,...,...,...,...,...
545,Poros,GR,78.85,37.4994,23.4536,New Aegli Resort Hotel
546,Ocos,GT,82.58,14.5094,-92.1933,Auto Hotel El Soñador
549,Remontnoye,RU,78.28,46.5614,43.6501,Remontnoe
553,Oriximina,BR,76.86,-1.7656,-55.8661,Pousada Tia Amélia
556,Cedar City,US,81.57,37.6775,-113.0619,Hampton Inn Cedar City

In [57]:
# Export the hotel data into a csv.
hotel_df.to_csv('hotel_data/hotels.csv')

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))